<html ng-app="ondEsta">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ondEstá?</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

	<script src="angular.js"></script>
	<script>
        angular.module("ondEsta", []);
        angular.module("ondEsta").controller("ondEstaCtrl", function ($scope, $http) {
            $scope.localHost = "http://10.10.10.81:8080";
            $scope.showConnections = false;
			$scope.pontosConex = {};
            /*Para desenhar e printar os pontos no click - utilizado apenas quando for fazer o mapa grafo */
            /*var x = 1;
            canvas.addEventListener('click', function(event) {
                context.lineWidth = 5;
                context.strokeStyle = 'black';
                context.strokeRect(event.layerX,event.layerY,1,1);
                console.log('{ nome: "P'+ x +'",lat:' + event.layerX.toString() +' ,lng:' + event.layerY.toString() + ' },');
                x++;
             }, false);*/

            $scope.inserirNovoPonto = function () {
				alert("Clique no local do novo ponto");
                $scope.showConnections = true;
                canvas.addEventListener('click', function(event) {
                    context.lineWidth = 5;
                    context.strokeStyle = 'black';
                    context.strokeRect(event.layerX,event.layerY,1,1);
                    $scope.pontosConex = { nome: "P" + (vertices.length + 1),lat: event.layerX,lng: event.layerY };
                }, false)
            };

            var desenhaVertices = function () {

                vertices.map(function (p) {
                    /*TODO Organizar melhor os dados de estilo do context*/
                    context.globalAlpha = 1;
                    context.lineWidth = 7;
                    /*context.strokeRect(p.lat,p.lng,1,1);*/
                    context.beginPath();
                    context.strokeStyle = 'blue';
                    context.shadowOffsetX = null;
                    context.shadowOffsetY = null;
                    context.shadowColor = null;
                    context.shadowBlur = null;
                    context.lineWidth = 5;
                    context.arc(p.lat, p.lng, 2, 0, 2 * Math.PI, true);
                    context.fill();
                    context.stroke();

                    context.lineWidth = 15;
                    context.font = "bold 12px Arial";
                    context.fillStyle = "black";
                    context.textAlign = "center";
                    context.fillText(p.nome.substr(1), p.lat -2,p.lng -7);
                    context.globalAlpha = 0.2;
                });
            };

            $scope.buscarInfos = function (p) {
                /*Alterar botões*/
                $scope.btnAlterar = true;
                $scope.btnSalvar = false;
                $scope.btnNovoProduto = true;

                context.clearRect(0, 0, 900, 900);
                context.putImageData(imageDataContext, 0, 0);
                desenhaVertices();
                $scope.produto.nome = p.name;
                $scope.produto.ponto = p.ponto;
                $scope.produto.id = p.id;

                vertices.map(function (vertice) {
                    if(vertice.nome === "P" +p.ponto.toString()){
                        context.globalAlpha = 1;
                        console.log("entrei");
                        context.lineWidth = 15;
                        context.strokeStyle = 'green';
                        context.strokeRect(vertice.lat,vertice.lng,1,1);
					}
				})
            };

            $scope.myFunction = function(c){
                document.getElementById('myInput').focus();
                if(c === 'APAGAR'){
                    $scope.criteria = $scope.criteria.substr(0, $scope.criteria.length - 1)
				}else{
                    $scope.criteria = $scope.criteria + c;
				}

            };''

            $scope.alterarProduto = function(){
                $scope.btnSalvar = true;
                $scope.permiteAlterar = false;
                $scope.btnAlterar = false;
                $scope.false = true;
                $scope.btnNovoProduto = false;
			}

			$scope.inserirProduto = function () {
                $scope.limparArea();
                /*altero botões*/
                $scope.btnSalvar = true;
                $scope.permiteAlterar = false;
                $scope.btnAlterar = false;
                $scope.btnNovoProduto = false;

                /*Zero o current*/
                $scope.produto = {
                    nome: null,
                    ponto: null,
                    id: null
                }
            }

            $scope.salvarProduto = function () {

                /*validação*/
                if($scope.produto.nome === null || $scope.produto.ponto === null){
                    alert("Erro - Você deve cadastrar nome e ponto do produto!")
					return;
				}

                /*TODO Melhorar maneira de dar o PUT (Sem ter que fazer o map)*/
                if($scope.produto.id !== null) { //Se for diferente de nulo, estou alterando algum produto
                    $scope.friends.map(function (produto) {
                        if (produto.id === $scope.produto.id) {
                            /*Atualizo na lista*/
                            produto.name = $scope.produto.nome;
                            produto.ponto = $scope.produto.ponto;
                            produto.id = $scope.produto.id;

                            /*atualizo no banco*/
                            $http({
                                url:  $scope.localHost + '/produtos',
                                method: "PUT",
                                data: produto
                            })
                                .then(function (response) {
                                        console.log(response.data);
                                        alert("Alterado com Sucesso!");
                                    },
                                    function (response) { // optional
                                        alert("Erro ao Salvar");
                                    });
                        }
                    });
                }else{ //Se for nulo, estou adicionando um produto
                    var x = {
                        name: $scope.produto.nome,
						ponto: $scope.produto.ponto
					}
                    $http({
                        url: $scope.localHost + '/produtos',
                        method: "POST",
                        data: x
                    })
                        .then(function(response) {
                            	$scope.friends.push(response.data);
                                alert("Inserido com Sucesso!");
                            },
                            function(response) { // optional
                                alert("Erro ao Salvar");
                            });
				}

                $scope.limparArea();
            }

			$scope.limparArea = function () {

                $scope.btnSalvar = false;
                $scope.btnAlterar = false;
                $scope.btnNovoProduto = true;
                $scope.permiteAlterar = true;

                context.clearRect(0, 0, 900, 900);
                context.putImageData(imageDataContext, 0, 0);
                desenhaVertices();

                $scope.produto = {
                    nome: null,
                    ponto: null
                }
            }

            var importaImagem = function () {
                context.globalAlpha = 0.2;
                var base_image = new Image();
                base_image.src = 'layout-interno-supermercado.jpg';
                base_image.onload = function(){
                    context.drawImage(base_image, 0, 0);
                    imageDataContext = context.getImageData(0,0,canvas.width,canvas.height);
                };
            };

            $scope.insertConnection = function () {
                $scope.connections.push({ponto: $scope.o.newConnection});
                $scope.o.newConnection = null;
            }

            $scope.finishPoints = function () {
				console.log($scope.pontosConex);
				console.log($scope.connections);

				var txt =""

				$scope.connections.map(function (value, index) {
				    if(index < $scope.connections.length -1){
                        txt += "," + value.ponto;
					}else{
                        txt += "," + value.ponto + ",";
					}
				});

				var con = {
				    connections: txt,
					x: $scope.pontosConex.lat,
					y: $scope.pontosConex.lng
				};

                $http({
                    url: $scope.localHost + '/connections',
                    method: "POST",
                    data: con
                })
                    .then(function(response) {

                        },
                        function(response) { // optional

                        });
            }

            /*CANVAS*/
            var context = document.getElementById('myCanvas').getContext('2d');
            var canvas = document.getElementById('myCanvas');

            /*Demais variaveis*/
            /*TODO Alterar variaveis para usar o scope do Angular*/
            $scope.criteria = "";
            $scope.produtoCurrent = null;

            var vertices = []

            $http({
                method : "GET",
                url :  $scope.localHost + "/connections/listall/"
            }).then(function mySuccess(response) {
                response.data.map(function (value) {
                    vertices.push({
                        nome: "P" + value.id,
                        lat: value.x,
                        lng: value.y
                    })
                });
                desenhaVertices();
            }, function myError(response) {
                alert("Falha ao buscar dados, verifique se o servidor está no ar!");
                console.log(response)
            });

            var steps = null;
            var a = 99;
            var imageDataContext = null;
            $scope.produto = {
                nome: null,
                ponto: null,
                id: null
            }
            $scope.permiteAlterar = true;
            $scope.btnSalvar = false;
            $scope.btnAlterar = false;
            $scope.btnNovoProduto = true;

            $scope.connections = [  ];

            $scope.o = {}
            $scope.o.newConnection = null;

            /*Get na lista para carregar*/
            $http({
                method : "GET",
                url :  $scope.localHost + "/produtos/listall/"
            }).then(function mySuccess(response) {
                $scope.friends = response.data;
                importaImagem();
                document.getElementById('myInput').focus();
            }, function myError(response) {
                alert("Falha ao buscar dados, verifique se o servidor está no ar!");
                console.log(response)
            });


        });
	</script>
</head>
<body>
<div ng-controller="ondEstaCtrl">
	<div>
		<div class="page-header" style="margin: 0 0 0 20px">
			<h1> <a style="color: black" href="index.html">ondEstá? - Gerenciador</a></strong><small> - Supermercado Carrefour Campinas Cambuí</small></h1>
		</div>

		<div class="col-sm-4 sidebar-offcanvas text-center" style="margin-top: 10px; height: 600px">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">Lista de Produtos</h3>
				</div>
				<div class="panel-body" style="height: 550px">
					<input class="form-control"  id="myInput" type="text" ng-model="criteria" placeholder="Digite aqui o nome do produto">

					<hr>
					<!--LISTA-->
					<ul class="list-group">
						<div ng-repeat="friend in friends | filter:criteria">
							<li ng-click="buscarInfos(friend)" class="list-group-item">{{friend.name}}</li>
						</div>
					</ul>
				</div>
			</div>
			<!--TECLADO-->
			<!--<div class="row" style="margin-left: 10px">
				<ul id="keyboard">
					<div class="row text-center">
						<li class="letter" ng-click="myFunction('q')">q</li>
						<li class="letter" ng-click="myFunction('w')">w</li>
						<li class="letter" ng-click="myFunction('e')">e</li>
						<li class="letter" ng-click="myFunction('r')">r</li>
						<li class="letter" ng-click="myFunction('t')">t</li>
						<li class="letter" ng-click="myFunction('y')">y</li>
						<li class="letter" ng-click="myFunction('u')">u</li>
						<li class="letter" ng-click="myFunction('i')">i</li>
						<li class="letter" ng-click="myFunction('o')">o</li>
						<li class="letter" ng-click="myFunction('p')">p</li>
					</div>
					<div class="row">
						<li class="nothing"></li>
						<li class="letter" ng-click="myFunction('a')">a</li>
						<li class="letter" ng-click="myFunction('s')">s</li>
						<li class="letter" ng-click="myFunction('d')">d</li>
						<li class="letter" ng-click="myFunction('f')">f</li>
						<li class="letter" ng-click="myFunction('g')">g</li>
						<li class="letter" ng-click="myFunction('h')">h</li>
						<li class="letter" ng-click="myFunction('j')">j</li>
						<li class="letter" ng-click="myFunction('k')">k</li>
						<li class="letter" ng-click="myFunction('l')">l</li>
					</div>
					<div class="row">
						<li class="nothing2"></li>
						<li class="letter" ng-click="myFunction('z')">z</li>
						<li class="letter" ng-click="myFunction('x')">x</li>
						<li class="letter" ng-click="myFunction('c')">c</li>
						<li class="letter" ng-click="myFunction('v')">v</li>
						<li class="letter" ng-click="myFunction('b')">b</li>
						<li class="letter" ng-click="myFunction('n')">n</li>
						<li class="letter" ng-click="myFunction('m')">m</li>
						<li class="backspace" ng-click="myFunction('APAGAR')">APAGAR</li>
					</div>
					<div class="row">
						<li class="space" ng-click="myFunction(' ')"> 		</li>
					</div>
				</ul>
			</div>-->
		</div>
		<div class="col-sm-8">
			<h3>Informações sobre o produto</h3>
			<div class="col-sm-6">
				<div class="input-group">
					<span class="titleManager input-group-addon ">Nome</span>
					<input type="text" class=" valueManager form-control " placeholder="Nome do Produto" ng-model="produto.nome" ng-disabled="permiteAlterar">
				</div>
				<div class="input-group">
					<span class="titleManager input-group-addon ">Ponto</span>
					<input type="number" class=" valueManager form-control " placeholder="Ponto do produto no mapa" ng-model="produto.ponto" ng-disabled="permiteAlterar">
				</div>
				<br>
				<button ng-if="btnAlterar" type="button" class="btn btn-danger pull-right" ng-click="alterarProduto()">Alterar</button>
				<button ng-if="btnSalvar" type="button" class="btn btn-success pull-left" ng-click="salvarProduto()">Salvar</button>
				<button ng-if="btnSalvar" type="button" class="btn btn-danger pull-right" ng-click="limparArea()">Cancelar</button>
				<button ng-if="btnNovoProduto" type="button" class="btn btn-default pull-left" ng-click="inserirProduto()">Novo</button>
			</div>
			<div class="row">
				<div class="col-sm-9" style="padding: 0">
					<canvas id='myCanvas' width='680' height='460'>
						Canvas not supported
					</canvas>
				</div>

				<div class="col-sm-2" style="padding-left:25px;">
					<div class="row">
						<button ng-if="connections.length === 0" type="button" class="btn btn-success pull-left" ng-click="inserirNovoPonto()">Novo ponto</button>
					</div>
					<br>
					<div ng-if="showConnections">
						<div class="row">
							<div ng-repeat="c in connections track by $id(c)">
								<div class="input-group">
									<span class="titleManager input-group-addon ">Conexão {{$index + 1}}</span>
									<input type="text" class=" valueManager form-control " placeholder="Número do ponto" ng-model="c.ponto">
								</div>
							</div>
						</div>
						<br>
						<div class="row">
							<div class="input-group">
								<span class="input-group-addon ">Add</span>
								<input type="number" class="form-control" placeholder="Número da conexão" ng-model="o.newConnection">
							</div>
							<br>
							<button type="button" class="btn btn-default pull-left" ng-click="insertConnection()">+</button>
							<button type="button" ng-if="connections.length > 0" class="btn btn-success pull-right" ng-click="finishPoints()">Finalizar</button>
						</div>
					</div>

					<hr>
				</div>
			</div>
		</div>
	</div>
</div>

</body>
</html>