<html ng-app="ondEsta">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ondEstá?</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

	<script src="angular.js"></script>
	<script>
        angular.module("ondEsta", []);
        angular.module("ondEsta").controller("ondEstaCtrl", function ($scope, $http) {

            /*Para desenhar e printar os pontos no click - utilizado apenas quando for fazer o mapa grafo */
            /*var x = 1;
            canvas.addEventListener('click', function(event) {
                context.lineWidth = 5;
                context.strokeStyle = 'black';
                context.strokeRect(event.layerX,event.layerY,1,1);
                console.log('{ nome: "P'+ x +'",lat:' + event.layerX.toString() +' ,lng:' + event.layerY.toString() + ' },');
                x++;
             }, false);*/

            var desenhaVertices = function () {

                vertices.map(function (p) {
                    /*TODO Organizar melhor os dados de estilo do context*/
                    context.globalAlpha = 1;
                    context.lineWidth = 7;
                    /*context.strokeRect(p.lat,p.lng,1,1);*/
                    context.beginPath();
                    context.strokeStyle = 'blue';
                    context.shadowOffsetX = null;
                    context.shadowOffsetY = null;
                    context.shadowColor = null;
                    context.shadowBlur = null;
                    context.lineWidth = 5;
                    context.arc(p.lat, p.lng, 2, 0, 2 * Math.PI, true);
                    context.fill();
                    context.stroke();

                    context.lineWidth = 15;
                    context.font = "bold 12px Arial";
                    context.fillStyle = "black";
                    context.textAlign = "center";
                    context.fillText(p.nome.substr(1), p.lat -2,p.lng -7);
                    context.globalAlpha = 0.2;
                });
            };

            $scope.buscarInfos = function (p) {
                /*Alterar botões*/
                $scope.btnAlterar = true;
                $scope.btnSalvar = false;
                $scope.btnNovoProduto = true;

                context.clearRect(0, 0, 900, 900);
                context.putImageData(imageDataContext, 0, 0);
                desenhaVertices();
                $scope.produto.nome = p.name;
                $scope.produto.ponto = p.ponto;
                $scope.produto.id = p.id;

                vertices.map(function (vertice) {
                    if(vertice.nome === "P" +p.ponto.toString()){
                        context.globalAlpha = 1;
                        console.log("entrei");
                        context.lineWidth = 15;
                        context.strokeStyle = 'green';
                        context.strokeRect(vertice.lat,vertice.lng,1,1);
					}
				})
            };

            $scope.myFunction = function(c){
                document.getElementById('myInput').focus();
                if(c === 'APAGAR'){
                    $scope.criteria = $scope.criteria.substr(0, $scope.criteria.length - 1)
				}else{
                    $scope.criteria = $scope.criteria + c;
				}

            };''

            $scope.alterarProduto = function(){
                $scope.btnSalvar = true;
                $scope.permiteAlterar = false;
                $scope.btnAlterar = false;
                $scope.false = true;
                $scope.btnNovoProduto = false;
			}

			$scope.inserirProduto = function () {
                $scope.limparArea();
                /*altero botões*/
                $scope.btnSalvar = true;
                $scope.permiteAlterar = false;
                $scope.btnAlterar = false;
                $scope.btnNovoProduto = false;

                /*Zero o current*/
                $scope.produto = {
                    nome: null,
                    ponto: null,
                    id: null
                }
            }

            $scope.salvarProduto = function () {

                /*validação*/
                if($scope.produto.nome === null || $scope.produto.ponto === null){
                    alert("Erro - Você deve cadastrar nome e ponto do produto!")
					return;
				}

                /*TODO Melhorar maneira de dar o PUT (Sem ter que fazer o map)*/
                if($scope.produto.id !== null) { //Se for diferente de nulo, estou alterando algum produto
                    $scope.friends.map(function (produto) {
                        if (produto.id === $scope.produto.id) {
                            /*Atualizo na lista*/
                            produto.name = $scope.produto.nome;
                            produto.ponto = $scope.produto.ponto;
                            produto.id = $scope.produto.id;

                            /*atualizo no banco*/
                            $http({
                                url: 'http://10.10.10.81:8080/produtos',
                                method: "PUT",
                                data: produto
                            })
                                .then(function (response) {
                                        console.log(response.data);
                                        alert("Alterado com Sucesso!");
                                    },
                                    function (response) { // optional
                                        alert("Erro ao Salvar");
                                    });
                        }
                    });
                }else{ //Se for nulo, estou adicionando um produto
                    var x = {
                        name: $scope.produto.nome,
						ponto: $scope.produto.ponto
					}
                    $http({
                        url: 'http://10.10.10.81:8080/produtos',
                        method: "POST",
                        data: x
                    })
                        .then(function(response) {
                            	$scope.friends.push(response.data);
                                alert("Inserido com Sucesso!");
                            },
                            function(response) { // optional
                                alert("Erro ao Salvar");
                            });
				}

                $scope.limparArea();
            }

			$scope.limparArea = function () {

                $scope.btnSalvar = false;
                $scope.btnAlterar = false;
                $scope.btnNovoProduto = true;
                $scope.permiteAlterar = true;

                context.clearRect(0, 0, 900, 900);
                context.putImageData(imageDataContext, 0, 0);
                desenhaVertices();

                $scope.produto = {
                    nome: null,
                    ponto: null
                }
            }

            var importaImagem = function () {
                context.globalAlpha = 0.2;
                var base_image = new Image();
                base_image.src = 'layout-interno-supermercado.jpg';
                base_image.onload = function(){
                    context.drawImage(base_image, 0, 0);
                    imageDataContext = context.getImageData(0,0,canvas.width,canvas.height);
                    desenhaVertices();
                };
            };

            /*CANVAS*/
            var context = document.getElementById('myCanvas').getContext('2d');
            var canvas = document.getElementById('myCanvas');

            /*Demais variaveis*/
            /*TODO Alterar variaveis para usar o scope do Angular*/
            $scope.criteria = "";
            $scope.produtoCurrent = null;
            var vertices = [
                { nome: "P1",lat:112 ,lng:62 },
                { nome: "P2",lat:112 ,lng:113 },
                { nome: "P3",lat:112 ,lng:153 },
                { nome: "P4",lat:113 ,lng:207 },
                { nome: "P5",lat:112 ,lng:252 },
                { nome: "P6",lat:112 ,lng:295 },
                { nome: "P7",lat:112 ,lng:341 },
                { nome: "P8",lat:148 ,lng:62 },
                { nome: "P9",lat:148 ,lng:270 },
                { nome: "P10",lat:148 ,lng:294 },
                { nome: "P11",lat:148 ,lng:373 },
                { nome: "P12",lat:171 ,lng:62 },
                { nome: "P13",lat:171 ,lng:98 },
                { nome: "P14",lat:171 ,lng:131 },
                { nome: "P15",lat:171 ,lng:177 },
                { nome: "P16",lat:171 ,lng:214 },
                { nome: "P17",lat:171 ,lng:255 },
                { nome: "P18",lat:171 ,lng:299 },
                { nome: "P19",lat:171 ,lng:394 },
                { nome: "P20",lat:210 ,lng:62 },
                { nome: "P21",lat:210 ,lng:96 },
                { nome: "P22",lat:210 ,lng:130 },
                { nome: "P23",lat:210 ,lng:176 },
                { nome: "P24",lat:210 ,lng:215 },
                { nome: "P25",lat:210 ,lng:258 },
                { nome: "P26",lat:210 ,lng:298 },
                { nome: "P27",lat:210 ,lng:329 },
                { nome: "P28",lat:210 ,lng:366 },
                { nome: "P29",lat:210 ,lng:407 },
                { nome: "P30",lat:232 ,lng:62 },
                { nome: "P31",lat:232 ,lng:329 },
                { nome: "P32",lat:255 ,lng:62 },
                { nome: "P33",lat:255 ,lng:97 },
                { nome: "P34",lat:255 ,lng:125 },
                { nome: "P35",lat:255 ,lng:173 },
                { nome: "P36",lat:255 ,lng:212 },
                { nome: "P37",lat:255 ,lng:262 },
                { nome: "P38",lat:255 ,lng:299 },
                { nome: "P39",lat:255 ,lng:329 },
                { nome: "P40",lat:277 ,lng:62 },
                { nome: "P41",lat:277 ,lng:329 },
                { nome: "P42",lat:295 ,lng:62 },
                { nome: "P43",lat:298 ,lng:94 },
                { nome: "P44",lat:295 ,lng:126 },
                { nome: "P45",lat:295 ,lng:168 },
                { nome: "P46",lat:295 ,lng:208 },
                { nome: "P47",lat:295 ,lng:254 },
                { nome: "P48",lat:295 ,lng:293 },
                { nome: "P49",lat:295 ,lng:329 },
                { nome: "P50",lat:322 ,lng:62 },
                { nome: "P51",lat:322 ,lng:329 },
                { nome: "P52",lat:341 ,lng:62 },
                { nome: "P53",lat:341 ,lng:97 },
                { nome: "P54",lat:341 ,lng:130 },
                { nome: "P55",lat:341 ,lng:166 },
                { nome: "P56",lat:341 ,lng:208 },
                { nome: "P57",lat:341 ,lng:251 },
                { nome: "P58",lat:341 ,lng:289 },
                { nome: "P59",lat:341 ,lng:329 },
                { nome: "P60",lat:361 ,lng:62 },
                { nome: "P61",lat:361 ,lng:329 },
                { nome: "P62",lat:383 ,lng:62 },
                { nome: "P63",lat:383 ,lng:62 },
                { nome: "P64",lat:383 ,lng:123 },
                { nome: "P65",lat:383 ,lng:169 },
                { nome: "P66",lat:383 ,lng:205 },
                { nome: "P67",lat:383 ,lng:248 },
                { nome: "P68",lat:383 ,lng:288 },
                { nome: "P69",lat:383 ,lng:329 },
                { nome: "P70",lat:404 ,lng:62 },
                { nome: "P71",lat:404 ,lng:329 },
                { nome: "P72",lat:426 ,lng:62 },
                { nome: "P73",lat:426 ,lng:92 },
                { nome: "P74",lat:426 ,lng:123 },
                { nome: "P75",lat:426 ,lng:163 },
                { nome: "P76",lat:426 ,lng:203 },
                { nome: "P77",lat:426 ,lng:248 },
                { nome: "P78",lat:426 ,lng:284 },
                { nome: "P79",lat:426 ,lng:329 },
                { nome: "P80",lat:444 ,lng:62 },
                { nome: "P81",lat:444 ,lng:329 },
                { nome: "P82",lat:468 ,lng:62 },
                { nome: "P83",lat:468 ,lng:93 },
                { nome: "P84",lat:468 ,lng:123 },
                { nome: "P85",lat:468 ,lng:161 },
                { nome: "P86",lat:468 ,lng:200 },
                { nome: "P87",lat:468 ,lng:245 },
                { nome: "P88",lat:468 ,lng:276 },
                { nome: "P89",lat:468 ,lng:329 },
                { nome: "P90",lat:488 ,lng:62 },
                { nome: "P91",lat:488 ,lng:329 },
                { nome: "P92",lat:513 ,lng:62 },
                { nome: "P93",lat:513 ,lng:62 },
                { nome: "P94",lat:513 ,lng:125 },
                { nome: "P95",lat:513 ,lng:163 },
                { nome: "P96",lat:513 ,lng:202 },
                { nome: "P97",lat:513 ,lng:246 },
                { nome: "P98",lat:513 ,lng:280 },
                { nome: "P99",lat:513 ,lng:329 },
                { nome: "P100",lat:541 ,lng:59 },
                { nome: "P101",lat:541 ,lng:100 },
                { nome: "P102",lat:538 ,lng:329 },
                { nome: "P103",lat:573 ,lng:64 },
                { nome: "P104",lat:577 ,lng:103 },
                { nome: "P105",lat:574 ,lng:146 },
                { nome: "P106",lat:576 ,lng:177 },
                { nome: "P107",lat:576 ,lng:216 },
                { nome: "P108",lat:575 ,lng:254 },
                { nome: "P109",lat:577 ,lng:291 },
                { nome: "P110",lat:575 ,lng:328 },
                { nome: "P111",lat:574 ,lng:360 },
                { nome: "P112",lat:573 ,lng:411 },
                { nome: "P113",lat:608 ,lng:100 },
                { nome: "P114",lat:610 ,lng:177 },
                { nome: "P115",lat:613 ,lng:251 },
                { nome: "P116",lat:614 ,lng:324 },
                { nome: "P117",lat:614 ,lng:361 },
                { nome: "P118",lat:616 ,lng:412 },
                { nome: "P119",lat:641 ,lng:123 },
                { nome: "P120",lat:641 ,lng:178 },
                { nome: "P121",lat:638 ,lng:249 },
                { nome: "P122",lat:637 ,lng:287 },
                { nome: "P123",lat:637 ,lng:319 },
                { nome: "P124",lat:639 ,lng:360 },
                { nome: "P125",lat:642 ,lng:410 }
            ]
            var steps = null;
            var a = 99;
            var imageDataContext = null;
            $scope.produto = {
                nome: null,
                ponto: null,
                id: null
            }
            $scope.permiteAlterar = true;
            $scope.btnSalvar = false;
            $scope.btnAlterar = false;
            $scope.btnNovoProduto = true;

            /*Get na lista para carregar*/
            $http({
                method : "GET",
                url : "http://10.10.10.81:8080/produtos/listall/"
            }).then(function mySuccess(response) {
                $scope.friends = response.data;
                importaImagem();
                document.getElementById('myInput').focus();
            }, function myError(response) {
                alert("Falha ao buscar dados, verifique se o servidor está no ar!");
                console.log(response)
            });


        });
	</script>
</head>
<body>
<div ng-controller="ondEstaCtrl">
	<div>
		<div class="page-header" style="margin: 0 0 0 20px">
			<h1> <a style="color: black" href="index.html">ondEstá? - Gerenciador</a></strong><small> - Supermercado Carrefour Campinas Cambuí</small></h1>
		</div>

		<div class="col-xs-6 col-sm-4 sidebar-offcanvas text-center" style="margin-top: 10px; height: 600px">
			<div class="panel panel-default">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">Lista de Produtos</h3>
				</div>
				<div class="panel-body" style="height: 550px">
					<input class="form-control"  id="myInput" type="text" ng-model="criteria" placeholder="Digite aqui o nome do produto">

					<hr>
					<!--LISTA-->
					<ul class="list-group">
						<div ng-repeat="friend in friends | filter:criteria">
							<li ng-click="buscarInfos(friend)" class="list-group-item">{{friend.name}}</li>
						</div>
					</ul>
				</div>
			</div>
			<!--TECLADO-->
			<!--<div class="row" style="margin-left: 10px">
				<ul id="keyboard">
					<div class="row text-center">
						<li class="letter" ng-click="myFunction('q')">q</li>
						<li class="letter" ng-click="myFunction('w')">w</li>
						<li class="letter" ng-click="myFunction('e')">e</li>
						<li class="letter" ng-click="myFunction('r')">r</li>
						<li class="letter" ng-click="myFunction('t')">t</li>
						<li class="letter" ng-click="myFunction('y')">y</li>
						<li class="letter" ng-click="myFunction('u')">u</li>
						<li class="letter" ng-click="myFunction('i')">i</li>
						<li class="letter" ng-click="myFunction('o')">o</li>
						<li class="letter" ng-click="myFunction('p')">p</li>
					</div>
					<div class="row">
						<li class="nothing"></li>
						<li class="letter" ng-click="myFunction('a')">a</li>
						<li class="letter" ng-click="myFunction('s')">s</li>
						<li class="letter" ng-click="myFunction('d')">d</li>
						<li class="letter" ng-click="myFunction('f')">f</li>
						<li class="letter" ng-click="myFunction('g')">g</li>
						<li class="letter" ng-click="myFunction('h')">h</li>
						<li class="letter" ng-click="myFunction('j')">j</li>
						<li class="letter" ng-click="myFunction('k')">k</li>
						<li class="letter" ng-click="myFunction('l')">l</li>
					</div>
					<div class="row">
						<li class="nothing2"></li>
						<li class="letter" ng-click="myFunction('z')">z</li>
						<li class="letter" ng-click="myFunction('x')">x</li>
						<li class="letter" ng-click="myFunction('c')">c</li>
						<li class="letter" ng-click="myFunction('v')">v</li>
						<li class="letter" ng-click="myFunction('b')">b</li>
						<li class="letter" ng-click="myFunction('n')">n</li>
						<li class="letter" ng-click="myFunction('m')">m</li>
						<li class="backspace" ng-click="myFunction('APAGAR')">APAGAR</li>
					</div>
					<div class="row">
						<li class="space" ng-click="myFunction(' ')"> 		</li>
					</div>
				</ul>
			</div>-->
		</div>
		<div class="col-sm-6">
			<h3>Informações sobre o produto</h3>
			<div class="col-sm-6">
				<div class="input-group">
					<span class="titleManager input-group-addon ">Nome</span>
					<input type="text" class=" valueManager form-control " placeholder="Nome do Produto" ng-model="produto.nome" ng-disabled="permiteAlterar">
				</div>
				<div class="input-group">
					<span class="titleManager input-group-addon ">Ponto</span>
					<input type="number" class=" valueManager form-control " placeholder="Ponto do produto no mapa" ng-model="produto.ponto" ng-disabled="permiteAlterar">
				</div>
				<br>
				<button ng-if="btnAlterar" type="button" class="btn btn-danger pull-right" ng-click="alterarProduto()">Alterar produto</button>
				<button ng-if="btnSalvar" type="button" class="btn btn-success pull-left" ng-click="salvarProduto()">Salvar</button>
				<button ng-if="btnSalvar" type="button" class="btn btn-danger pull-right" ng-click="limparArea()">Cancelar</button>
				<button ng-if="btnNovoProduto" type="button" class="btn btn-default pull-left" ng-click="inserirProduto()">Inserir Novo Produto</button>
			</div>
			<canvas id='myCanvas' width='680' height='460'>
				Canvas not supported
			</canvas>


	</div>
</div>

</body>
</html>