<html ng-app="ondEsta">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<title>ondEstá?</title>
	<link rel="stylesheet" type="text/css" href="css/style.css" />
	<link rel="stylesheet" type="text/css" href="css/bootstrap.css" />

	<script src="angular.js"></script>
	<script>
        angular.module("ondEsta", []);
        angular.module("ondEsta").controller("ondEstaCtrl", function ($scope, $http) {

            $scope.localHost = "http://10.10.10.81:8080"

            /*Para desenhar e printar os pontos no click - utilizado apenas quando for fazer o mapa grafo */
            /*var x = 1;
            canvas.addEventListener('click', function(event) {
                context.lineWidth = 5;
                context.strokeStyle = 'black';
                context.strokeRect(event.layerX,event.layerY,1,1);
                console.log('{ nome: "P'+ x +'",lat:' + event.layerX.toString() +' ,lng:' + event.layerY.toString() + ' },');
                x++;
             }, false);*/

            var desenhaVertices = function () {
                vertices.map(function (p) {
                    context.lineWidth = 7;
                    context.strokeStyle = 'black';
                    context.strokeRect(p.lat,p.lng,1,1);

                    context.lineWidth = 6;
                    context.font = "10px Arial";
                    context.fillStyle = "blue";
                    context.textAlign = "center";
                    context.fillText(p.nome, p.lat,p.lng -4);
                });
            };

            function calcWaypoints(vertices) {
                var waypoints = [];
                for (var i = 1; i < vertices.length; i++) {
                    var pt0 = vertices[i - 1];
                    var pt1 = vertices[i];
                    var dx = pt1.x - pt0.x;
                    var dy = pt1.y - pt0.y;
                    for (var j = 0; j < 70; j++) {
                        var x = pt0.x + dx * j / 70;
                        var y = pt0.y + dy * j / 70;
                        waypoints.push({
                            x: x,
                            y: y
                        });
                    }
                }
                return (waypoints);
            }

            /*Desenha as arestas*/
            var desenhaCaminho = function () {

                var allPoints = [];
                /*Pego todos os pontos que retornaram do server*/
                steps.map(function (p, index) {
                    vertices.map(function (vertice, index) {
                        if (p.replace('\t', '').replace(' ', '') == vertice.nome.replace(' ', ''))
                            allPoints.push({
                                x: vertice.lat,
								y: vertice.lng
                            });
						});
                    });

                /*Pego todos os pontos do canvas*/
                var points = calcWaypoints(allPoints);

                /*context.setLineDash([5, 5]);*/
                context.strokeStyle = 'blue';
                context.lineCap = 'round';
                context.lineJoin = 'round';
                context.lineWidth = 4;
                context.fillStyle = "rgba(0, 0, 200, 0.5)";

                // extend the line from start to finish with animation
                points.map(function (value, index) {

						setTimeout(function (){
                            context.lineCap = 'round';
                            context.lineWidth = 2;
                            /*Primeiro*/
                            if(index === 0){
								context.beginPath();
								context.strokeStyle = 'blue';
								context.shadowOffsetX = null;
								context.shadowOffsetY = null;
								context.shadowColor = null;
								context.shadowBlur = null;
								context.lineWidth = 1;
								context.arc(value.x, value.y, 5, 0, 2 * Math.PI, true);
								context.fill();
								context.stroke();

                                context.moveTo(value.x, value.y)
                                context.beginPath();
                            }else if(index < points.length -1){
                                context.lineTo(value.x,value.y);
                                context.stroke();
                            }

                            /*ULTIMO*/
                            if(index === points.length -1) {
                                    /*para o desenho do caminho*/
                                setTimeout(function () {
                                    context.stroke();
                                    context.setLineDash([]);

                                    /*Desenha o circulo de dentro*/
                                    context.beginPath();
                                    context.shadowOffsetX = null;
                                    context.shadowOffsetY = null;
                                    context.shadowColor = null;
                                    context.shadowBlur = null;
                                    context.lineWidth = 3;
                                    context.arc(value.x, value.y, 5, 0, 2 * Math.PI, true);
                                    context.fill();
                                    context.stroke();


                                    context.beginPath();
                                    context.shadowOffsetX = null;
                                    context.shadowOffsetY = null;
                                    context.shadowColor = null;
                                    context.shadowBlur = null;

                                    /*Desenha o circulo (região preenchida)*/
                                    context.lineWidth = 1.5
                                    context.arc(value.x, value.y, 20, 0, 2 * Math.PI, true);
                                    context.fillStyle = "rgb(0, 0,255, 0.1)";
                                    context.fill();

                                    context.stroke();

                                    // draw the stroke
                                    /*context.lineWidth = 2;
                                    context.strokeStyle = "red";
                                    context.stroke();*/
                                    /* var base_image2 = new Image();
                                     base_image2.src = 'lupa.png';
                                     base_image2.setAttribute('height', '10px')

                                     /!*Carrega a imagem de proximidade*!/
                                     base_image2.onload = function(){
                                         context.drawImage(base_image2, value.x - 88, value.y - 96);
                                         setTimeout(function () {
                                             var a = 42;
                                         }, 500)
                                     }*/
                                }, 150)

							}
                        }, 0);
                        /*context.setLineDash([5, 5]);*/
				});


                /*percorre os steps e desenha*/
                /*var interval = 1000;
                steps.map(function (p, index) {
                    percorrerVerticesEPrintar(p, index == steps.length -1, index, interval);
                    interval += 100;
                });*/
            };

            $scope.buscarCaminhos = function (p) {
                $scope.produtoCurrent = p.name;
                steps = [];
                context.clearRect(0, 0, 900, 900);
                context.putImageData(imageDataContext, 0, 0);

                $http({
                    method : "GET",
                    url : $scope.localHost + '/dijkstra/' + a + '/' + p.ponto,
                    transformResponse: [function (data, headers) { //retornar sem parse
                        return data;
                    }]
                }).then(function mySuccess(response) {
                    steps = response.data.split(",");
                    steps.pop();
                    /*Depois de carregar as requisições, chama o desenho do mapa*/
                    desenhaCaminho();
                }, function myError(response) {
                    console.log(response)
                });
            };

            $scope.myFunction = function(c){
                document.getElementById('myInput').focus();
                if(c === 'APAGAR'){
                    $scope.criteria = $scope.criteria.substr(0, $scope.criteria.length - 1)
				}else{
                    $scope.criteria = $scope.criteria + c;
				}

            };

            var importaImagem = function () {
                var base_image = new Image();
                base_image.src = 'layout-interno-supermercado.jpg';
                base_image.onload = function(){
                    context.drawImage(base_image, 0, 0);
                    imageDataContext = context.getImageData(0,0,canvas.width,canvas.height);
                };
            };

            /*CANVAS*/
            var context = document.getElementById('myCanvas').getContext('2d');
            var canvas = document.getElementById('myCanvas');
            /*Demais variaveis*/
            $scope.criteria = "";
            $scope.friends = []

            $scope.produtoCurrent = null;
            var vertices = []

            $http({
                method : "GET",
                url : $scope.localHost + "/connections/listall/"
            }).then(function mySuccess(response) {
                response.data.map(function (value) {
                    vertices.push({
						nome: "P" + value.id,
						lat: value.x,
						lng: value.y
					})
				})

                importaImagem()
            }, function myError(response) {
                console.log(response)
            });
            var steps = null;
            $scope.showList = false;

            var a = 126;
            var imageDataContext = null;
            document.getElementById('myInput').focus();

			/*PRIMEIRO GET NO BANCO - LISTA DE PRODUTOS*/
            $http({
                method : "GET",
                url : $scope.localHost + "/produtos/listall/"
            }).then(function mySuccess(response) {
                $scope.friends = response.data;

            }, function myError(response) {
                console.log(response)
            });
        });
	</script>
</head>
<body>
<div ng-controller="ondEstaCtrl">
	<div>
		<div class="page-header" style="margin: 0 0 0 20px">
			<h1> <a style="color: black" href="index2.html">ondEstá? </a></strong><small> - Supermercado Carrefour Campinas Cambuí</small></h1>
		</div>
		<div class=" col-xs-12 col-sm-8">
			<canvas id='myCanvas' width='680' height='460'>
				Canvas not supported
			</canvas>
			<p><strong>Mostrando no momento</strong> - {{produtoCurrent}}</p>

			<div class="container">
				<ul class="list-inline">
					<li>
						<div>
							<div class="thumbnail">
								<img src="arroz.jpg" style="width: 100px; height: 100px;">
								<div class="caption">
									<p>R$ 14,90</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div>
							<div class="thumbnail">
								<img src="queijo-ralado.jpg" style="width: 100px; height: 100px;"	>
								<div class="caption">
									<p>R$ 2,90</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div>
							<div class="thumbnail">
								<img src="queijo-ralado.jpg" style="width: 100px; height: 100px;"	>
								<div class="caption">
									<p>R$ 2,90</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div>
							<div class="thumbnail">
								<img src="queijo-ralado.jpg" style="width: 100px; height: 100px;"	>
								<div class="caption">
									<p>R$ 2,90</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div>
							<div class="thumbnail">
								<img src="queijo-ralado.jpg" style="width: 100px; height: 100px;"	>
								<div class="caption">
									<p>R$ 2,90</p>
								</div>
							</div>
						</div>
					</li>
					<li>
						<div>
							<div class="thumbnail">
								<img src="queijo-ralado.jpg" style="width: 100px; height: 100px;"	>
								<div class="caption">
									<p>R$ 2,90</p>
								</div>
							</div>
						</div>
					</li>
				</ul>
			</div>
		</div>
		<div class="col-xs-6 col-sm-4 sidebar-offcanvas text-center" style="margin-top: 10px; height: 300px">
			<div class="panel panel-primary">
				<div class="panel-heading clearfix">
					<h3 class="panel-title">Está procurando algo?</h3>
				</div>
				<div class="panel-body">
					<input ng-disabled="true" class="form-control"  id="myInput" type="text" ng-model="criteria" placeholder="Use o teclado para digitar o nome do produto">

					<hr>
					<!--LISTA-->
					<ul class="list-group">
						<div ng-repeat="friend in friends | filter : criteria ">
							<li ng-click="buscarCaminhos(friend)" class="list-group-item">{{friend.name}}</li>
						</div>
					</ul>
				</div>
			</div>
			<!--TECLADO-->
			<div class="row">
				<ul id="keyboard">
					<div class="row text-center">
						<li class="letter" ng-click="myFunction('q')">q</li>
						<li class="letter" ng-click="myFunction('w')">w</li>
						<li class="letter" ng-click="myFunction('e')">e</li>
						<li class="letter" ng-click="myFunction('r')">r</li>
						<li class="letter" ng-click="myFunction('t')">t</li>
						<li class="letter" ng-click="myFunction('y')">y</li>
						<li class="letter" ng-click="myFunction('u')">u</li>
						<li class="letter" ng-click="myFunction('i')">i</li>
						<li class="letter" ng-click="myFunction('o')">o</li>
						<li class="letter" ng-click="myFunction('p')">p</li>
					</div>
					<div class="row">
						<li class="nothing"></li>
						<li class="letter" ng-click="myFunction('a')">a</li>
						<li class="letter" ng-click="myFunction('s')">s</li>
						<li class="letter" ng-click="myFunction('d')">d</li>
						<li class="letter" ng-click="myFunction('f')">f</li>
						<li class="letter" ng-click="myFunction('g')">g</li>
						<li class="letter" ng-click="myFunction('h')">h</li>
						<li class="letter" ng-click="myFunction('j')">j</li>
						<li class="letter" ng-click="myFunction('k')">k</li>
						<li class="letter" ng-click="myFunction('l')">l</li>
					</div>
					<div class="row">
						<li class="nothing2"></li>
						<li class="letter" ng-click="myFunction('z')">z</li>
						<li class="letter" ng-click="myFunction('x')">x</li>
						<li class="letter" ng-click="myFunction('c')">c</li>
						<li class="letter" ng-click="myFunction('v')">v</li>
						<li class="letter" ng-click="myFunction('b')">b</li>
						<li class="letter" ng-click="myFunction('n')">n</li>
						<li class="letter" ng-click="myFunction('m')">m</li>
						<li class="backspace" ng-click="myFunction('APAGAR')">APAGAR</li>
					</div>
					<div class="row">
						<li class="space" ng-click="myFunction(' ')"> 		</li>
					</div>
				</ul>
			</div>
		</div>
	</div>
</div>

</body>
</html>